<div class="container-top">
    <div class="footer-indevelo">
        <h3 class="indevelo-title">Desarrollado por:</h3>
        <div class="indevelo-logo">
            <img class="indevelo-icon" src="/frontend/public/assets/icons/Indevelo.png" alt="Logo de Indevelo">
            <p class="indevelo-name">Indevelo <br> Studio</p>
        </div>
        <a class="indevelo-contacto" target="_blank" href="https://www.linkedin.com/company/indevelo-studio/posts/?feedView=all"><img class="linkedin-icon" src="/frontend/public/assets/icons/LinkedIn.png" alt=""> Co-creemos proyectos que trasciendan</a>
    </div>
    
    <div class="footer-logo">
        <a href="/frontend/index.html#home"><img class="logo-icon" src="/frontend/public/assets/icons/logo.svg" alt="logo"></a>
    </div>
    <div class="footer-social-media">
        <div class="social-media-icon">
            <h3 class="social-media-title">Seguinos en nuestras redes:</h3>
            <a href="" class="linkedin-link"><img class="linkedin-icon" src="/frontend/public/assets/icons/LinkedIn.png" alt=""> Cub de facilitación</a>
        </div>
        <div class="container-contact-info">
            <a class="mail-link" href="https://mail.google.com/mail/?view=cm&to=nbaldiviezo17@gmail.com&su=Quiero%20contactarme%20con%20el%20Club"
            target="_blank">
            <img class="mail-icon" src="/frontend/public/assets/icons/Mail.svg" alt="mail icon">clubdefacilitacion@gmail.com</a>
            <a class="adress-link" href="https://www.google.com/maps/dir//EXPOCoru%C3%B1a,+R%C3%BAa+Juana+Capdevielle,+2,+15008+A+Coru%C3%B1a,+Espa%C3%B1a/@43.3403073,-8.4925249,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0xd2e7cba5bb3107b:0x93831a251a29aaeb!2m2!1d-8.4101242!2d43.3403369?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D"
            target="_blank">
            <img class="adress-icon" src="/frontend/public/assets/icons/Map_pin.svg" alt="ubicacion icon">A Coruña, Galicia 15008</a>
        </div>
    </div>
</div>
<div class="container-bottom">
    <div class="conteiner-legal-text">
        <a class="legal-text" href="">Política de privacidad | </a>
        <a class="legal-text" href="">Términos y condiciones | </a>
        <a class="legal-text" href="">Protección de datos</a>
    </div>
    <div class="container-copyright">
        <p class="copyright">© 2025 Club de facilitación LEGO® SERIOUS PLAY® - Todos los derechos reservados </p>
    </div>
</div>