<nav class="navbar">
        <div class="logo">
            <img src="/frontend/public/assets/icons/logo.svg" alt="Logo del Club de facilitación">
        </div>
        <ul class="menu">
            <li class="menu-item"><a class="menu-link" href="/frontend/index.html">Home</a></li>
            <li class="menu-item"><a class="menu-link" href="/frontend/src/pages/metodologia.html#metodologia-lego">Metodología</a></li>
            <li class="menu-item"><a class="menu-link" href="/frontend/index.html#todos-los-eventos">Próximos eventos</a></li>
            <li class="menu-item" >
                <a class="menu-link" href="/frontend/src/pages/magazine.html" aria-expanded="false" > <img class="arrow-icon"src="/frontend/public/assets/icons/desplegable.svg" >Magazine</a>
                <ul class="submenu" aria-hidden="true">
                    <li class="submenu-item"><a href="/frontend/src/pages/magazine.html#blog">Blog</a></li>
                    <li class="submenu-item"><a href="/frontend/src/pages/magazine.html#galeria">Galeria del Club</a></li>
                </ul>
            </li>
            <li class="menu-item" >
                <a class="menu-link" href="/frontend/src/pages/sobre-nosotros.html" aria-expanded="false"> <img class="arrow-icon"src="/frontend/public/assets/icons/desplegable.svg" >Sobre nosotros</a>
                <ul class="submenu" aria-hidden="true">
                    <li class="submenu-item"><a href="/frontend/src/pages/sobre-nosotros.html#historia-del-club">Historia del Club</a></li>
                    <li class="submenu-item"><a href="/frontend/src/pages/sobre-nosotros.html#estructura-y-valores">Estructura y valores</a></li>
                    <li class="submenu-item"><a href="/frontend/src/pages/facilitadores.html" >Directoria CFLSP</a></li>
                </ul>
            </li>
            <li class="menu-item"><a class="menu-link" href="/frontend/index.html#contacto">Contacto</a></li>
        </ul> 
</nav> 
