@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --font-primary: 'Nunito', sans-serif;
    --color-primary: #024287;
    --color-primary-200:#0B7FFB;
    --color-primary-400:#012C5A;
    --color-secondary:#F6B432;
    --color-secondary-200:#FBDA98;
    --color-secondary-400:#BD8108;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.metodologia{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.metodologia-title{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.metodologia-card{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
}
.reverse{
    flex-direction: row-reverse;

}
.metodologia-img{
    width: 50%;
    max-height: 300px;
}
.metodologia-info{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
}
.metodologia-info-title{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}
.metodologia-info-description{
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 90%;
}
.metodologia-info-button{
    width: auto;
    height: auto;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 32px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: .5rem 1rem;
}
.metodologia-info-button:hover{
    background-color: var(--color-primary-400);
}
